In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import numpy as np
import pandas as pd

In [5]:
data = []
datapath = '/home/bigdatas16/SGX-OrderBook-Tick-Data-Trading-Strategy-/CN_Futures_2014.01.22.csv'
data = pd.read_csv(datapath)

In [6]:
data_CNF14 = data[data.Series == 'CNF14']

In [7]:
len(data_CNF14)

162389

In [18]:
data = data_CNF14[0:80000]

In [12]:
len(data)

20000

In [13]:
data

,Series,SequenceNumber,TimeStamp,OrderNumber,OrderBookPosition,Price,QuantityDifference,Trade,BidOrAsk,BestPrice,BestQuantity
0,CNF14,1,2014-01-22D04:21:22.786910500,E3D584F55D4240C2,1,672000,20,,A,672000,20
1,CNF14,2,2014-01-22D04:21:22.786910500,B86D00C4CBBFB0BF,1,640000,100,,B,666500,20
2,CNF14,3,2014-01-22D04:21:22.786910500,E1C9F25394A679A6,2,719500,1,,A,672000,20
3,CNF14,4,2014-01-22D04:21:22.786910500,470284B16BBE4ABE,1,666500,10,,B,666500,20
4,CNF14,5,2014-01-22D04:21:22.786910500,C7118CE560A044E0,2,666500,10,,B,666500,20
5,CNF14,6,2014-01-22D04:21:22.786910500,6827C7006AEC4FEC,2,672500,10,,A,672000,20
6,CNF14,7,2014-01-22D04:21:22.786910500,AF342B8CD518B4B8,3,682500,1,,A,672000,20
7,CNF14,8,2014-01-22D04:21:22.786910500,C15D08A5B29C96DC,3,666000,20,,B,666500,20
8,CNF14,9,2014-01-22D04:21:22.786910500,48A74F481D750275,3,681000,10,,A,672000,20
9,CNF14,10,2014-01-22D04:21:22.786910500,E19E84B960F74517,4,664500,20,,B,666500,20
10,CNF14,11,2014-01-22D04:21:22.786910500,166000C4C677AB77,5,693000,1,,A,672000,20
11,CNF14,12,2014-01-22D04:21:22.786910500,6D8780B9C86AAC2A,4,665000,20,,B,666500,20
12,CNF14,13,2014-01-22D04:21:22.789910500,4FD78CE15D293CC9,1,671500,20,,A,671500,20
13,CNF14,14,2014-01-22D04:21:22.789910500,AF3C2B844DF22D92,6,662500,1,,B,666500,20
14,CNF14,15,2014-01-22D04:21:22.789910500,E11624B9A6DB85BB,4,665500,20,,B,666500,20
15,CNF14,16,2014-01-22D04:21:22.789910500,4F4B0CB99DFF81BF,7,664000,20,,B,666500,20
16,CNF14,17,2014-01-22D04:21:22.789910500,4B4B00B965684508,4,674000,20,,A,671500,20
17,CNF14,18,2014-01-22D04:21:22.789910500,479100EDBB3D9F7D,4,672500,20,,A,671500,20
18,CNF14,19,2014-01-22D04:21:22.789910500,9672009CE4FAC9FA,8,689500,2,,A,671500,20
19,CNF14,20,2014-01-22D04:21:22.789910500,152F8AFD935775B7,6,680000,100,,A,671500,20
20,CNF14,21,2014-01-22D04:21:22.789910500,63C12CA1413024D0,5,673000,20,,A,671500,20
21,CNF14,22,2014-01-22D04:21:22.789910500,C791DA0F799A5E9A,12,710000,2,,A,671500,20
22,CNF14,23,2014-01-22D04:21:22.789910500,6DC928E93E1C21BC,6,673500,20,,A,671500,20
23,CNF14,24,2014-01-22D08:45:02.804303200,E0F8E35871055345,9,656500,1,,B,666500,20
24,CNF14,25,2014-01-22D08:45:02.942300400,48FC67407C7E5E9E,10,656500,1,,B,666500,20
25,CNF14,26,2014-01-22D08:45:05.147274400,E87CEB509D787FB8,13,706000,1,,A,671500,20
26,CNF14,27,2014-01-22D08:45:12.388183400,E8FCEB586BB84DF8,15,712000,1,,A,671500,20
27,CNF14,28,2014-01-22D08:45:18.698105400,607C6750520D344D,17,721000,1,,A,671500,20
28,CNF14,29,2014-01-22D08:45:26.468001400,6074E750B03D927D,18,731000,1,,A,671500,20
29,CNF14,30,2014-01-22D08:45:28.659975400,ECFC6B0831EB144B,9,660000,78,,B,666500,20
...,...,...,...,...,...,...,...,...,...,...,...
19970,CNF14,19971,2014-01-22D09:40:53.405155700,665D2931F564D604,18,670500,6,,B,670500,417
19971,CNF14,19972,2014-01-22D09:40:53.405155700,C45AA5693BB31C53,19,670500,2,,B,670500,419
19972,CNF14,19973,2014-01-22D09:40:53.420155700,44F8634866754B75,40,671500,45,,A,671000,246
19973,CNF14,19974,2014-01-22D09:40:53.421155700,66FFCB582F431443,67,672000,45,,A,671000,246
19974,CNF14,19975,2014-01-22D09:40:53.421155700,EA234F40B0CD95AD,66,669500,45,,B,670500,419
19975,CNF14,19976,2014-01-22D09:40:53.421155700,626C6308AF8F948F,89,669000,45,,B,670500,419
19976,CNF14,19977,2014-01-22D09:40:53.427155700,C47863489EE383E3,94,672500,45,,A,671000,246
19977,CNF14,19978,2014-01-22D09:40:53.427155700,62EC6308C9E8AEE8,114,668000,45,,B,670500,419
19978,CNF14,19979,2014-01-22D09:40:53.427155700,E67FCB58E433C933,109,673000,45,,A,671000,246
19979,CNF14,19980,2014-01-22D09:40:53.428155700,EAA34F4027800C60,101,668500,45,,B,670500,419
19980,CNF14,19981,2014-01-22D09:40:53.432155600,C4F86348C20FA70F,125,673500,45,,A,671000,246
19981,CNF14,19982,2014-01-22D09:40:53.938143700,4A34E7000349E84A,131,674000,-9,,A,671000,246
19982,CNF14,19983,2014-01-22D09:40:53.938143700,4A34E7000349E84A,95,672500,9,,A,671000,246
19983,CNF14,19984,2014-01-22D09:40:54.077143700,E30688A59C538093,145,667000,-20,,B,670500,419
19984,CNF14,19985,2014-01-22D09:40:54.077143700,E30688A59C538093,154,666500,20,,B,670500,419
19985,CNF14,19986,2014-01-22D09:40:55.753119700,6FC924B1DEE7C027,193,678500,1,,A,671000,246
19986,CNF14,19987,2014-01-22D09:40:55.753119700,4A34E7000349E84A,95,672500,-9,,A,671000,246
19987,CNF14,19988,2014-01-22D09:40:55.753119700,4A34E7000349E84A,110,673000,9,,A,671000,246
19988,CNF14,19989,2014-01-22D09:40:55.933119700,674DA4B999327C72,16,671000,-10,,A,671000,236
19989,CNF14,19990,2014-01-22D09:40:55.933119700,CBD1A4E18BFF6B3F,14,671000,-10,,A,671000,226
19990,CNF14,19991,2014-01-22D09:40:55.940119700,CFCF84F9E8B1C851,36,671500,-6,,A,671000,226
19991,CNF14,19992,2014-01-22D09:40:55.940119700,E35388A5AF5392D3,34,671500,-20,,A,671000,226
19992,CNF14,19993,2014-01-22D09:40:55.941119700,4A4B2C2521CD02CD,142,674500,20,,A,671000,226
19993,CNF14,19994,2014-01-22D09:40:55.941119700,EF8508FD0F2BF36C,34,671500,-5,,A,671000,226
19994,CNF14,19995,2014-01-22D09:40:55.941119700,EF8508FD0F2BF36C,63,672000,5,,A,671000,226
19995,CNF14,19996,2014-01-22D09:40:55.942119700,EE5DA139B04690E6,13,671000,-10,,A,671000,216
19996,CNF14,19997,2014-01-22D09:40:55.944119700,CD5520B154383778,13,671000,-8,,A,671000,208
19997,CNF14,19998,2014-01-22D09:40:55.945119700,C4DAA5696BF74C97,105,673000,10,,A,671000,208
19998,CNF14,19999,2014-01-22D09:40:56.005119700,4EA0E70843082528,20,670500,4,,B,670500,423
19999,CNF14,20000,2014-01-22D09:40:56.150119700,68FCEF4846D72BD7,100,673000,-50,,A,671000,208

In [14]:
data.TimeStamp.unique(),len(data.TimeStamp.unique())

(array(['2014-01-22D04:21:22.786910500', '2014-01-22D04:21:22.789910500',
        '2014-01-22D08:45:02.804303200', ...,
        '2014-01-22D09:40:55.945119700', '2014-01-22D09:40:56.005119700',
        '2014-01-22D09:40:56.150119700'], dtype=object), 12043)

In [15]:
a = range(0,len(data.TimeStamp.unique()),1000)

In [16]:
for i in range(0,len(x),1):
    for j in range(0,len(a),1):
        if i == a[j]:
            print i

NameError: name 'x' is not defined

In [19]:
import time 

start = time.time()

order_book_bid = []
order_book_ask = []
bid = []
ask = []
timestamp_ = []
x = data.TimeStamp.unique()
#a = range(0,len(data.TimeStamp.unique()),1000)

for i in range(0,len(x),1):
    timestamp_.append(x[i])
    y = data[data['TimeStamp'].str.contains(x[i])]
    bid.append(y[(y.BidOrAsk == 'B')][["Price","QuantityDifference"]]) # bid
    ask.append(y[(y.BidOrAsk == 'A')][["Price","QuantityDifference"]]) # ask
    if i == 0:
        a = bid[i].groupby(by=['Price'],as_index = False).sum().sort(['Price'],ascending = [False])
        b = ask[i].groupby(by=['Price'],as_index = False).sum().sort(['Price'],ascending = [True])
    elif i > 0:
        a = pd.concat([order_book_bid[i-1],bid[i]]).groupby(by=['Price'],as_index = False).sum().sort(['Price'],ascending = [False])
        b = pd.concat([order_book_ask[i-1],ask[i]]).groupby(by=['Price'],as_index = False).sum().sort(['Price'],ascending = [True])
    order_book_bid.append(a[a.QuantityDifference != 0])
    order_book_ask.append(b[b.QuantityDifference != 0])
    
    if i == 10000:
        print i
    elif i == 20000:
        print i
    elif i == 40000:
        print i
    elif i == 80000:
        print i
    elif i == 160000:
        print i
        
end = time.time()  
print "Total time = %f"%(end - start)

/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:19: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:20: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:22: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/home/bigdatas16/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:23: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

10000
20000
40000
Total time = 2452.468283

In [39]:
len(order_book_bid),len(order_book_ask),len(timestamp_)

(48219, 48219, 48219)

In [36]:
2400/60

40

In [41]:
order_book_bid[48218][0:5]

     Price  QuantityDifference
67  681500                 487
66  681000                 394
65  680500                 757
64  680000                 596
63  679500                 462

In [42]:
e = data.TimeStamp.unique()[48218]
data[(data.BidOrAsk == 'B') & (data.TimeStamp == e)]

,Series,SequenceNumber,TimeStamp,OrderNumber,OrderBookPosition,Price,QuantityDifference,Trade,BidOrAsk,BestPrice,BestQuantity
79998,CNF14,79999,2014-01-22D10:57:55.530945200,6F0688A573B157F1,153,677000,-18,,B,681500,487
79999,CNF14,80000,2014-01-22D10:57:55.530945200,6F0688A573B157F1,163,676500,18,,B,681500,487

In [46]:
order_book_ask[48217][0:5]

    Price  QuantityDifference
0  682000                 171
1  682500                 677
2  683000                 467
3  683500                 415
4  684000                 453

In [45]:
e = data.TimeStamp.unique()[48217]
data[(data.BidOrAsk == 'A') & (data.TimeStamp == e)]

,Series,SequenceNumber,TimeStamp,OrderNumber,OrderBookPosition,Price,QuantityDifference,Trade,BidOrAsk,BestPrice,BestQuantity
79997,CNF14,79998,2014-01-22D10:57:55.491945200,CBD220A99F1B805B,201,689500,-1,,A,682000,171

In [97]:
order_book_bid[0][0:5].merge(order_book_ask[0][0:5],how = 'right',)

      Price  QuantityDifference
0  672000.0                20.0
1  672500.0                10.0
2  681000.0                10.0
3  682500.0                 1.0
4  693000.0                 1.0

In [117]:
pd.concat([order_book_bid[0][0:5],order_book_ask[0][0:5]],axis = 1,ignore_index = True).drop_duplicates()#,join_axes = [order_book_bid[0][0:5].index])

        0    1       2   3
0  640000  100  672000  20
1  664500   20  672500  10
2  665000   20  681000  10
3  666000   20  682500   1
4  666500   20  693000   1

In [128]:
pd.concat([pd.DataFrame(order_book_bid[1][0:5].values),pd.DataFrame(order_book_ask[1][0:5].values)],axis = 1,ignore_index = True)

        0   1       2   3
0  666500  20  671500  20
1  666000  20  672000  20
2  665500  20  672500  30
3  665000  20  673000  20
4  664500  20  673500  20

In [167]:
pd.DataFrame([['TimeStamp',timestamp_[0][11:28],0,0]])

           0                  1  2  3
0  TimeStamp  04:21:22.78691050  0  0

In [171]:
pd.concat([pd.DataFrame(order_book_bid[a][0:5].values),pd.DataFrame(order_book_ask[a][0:5].values)],axis = 1)

        0   1       0   1
0  666500  20  671500  20
1  666000  20  672000  20
2  665500  20  672500  30
3  665000  20  673000  20
4  664500  20  673500  20

In [205]:
timestamp_[0][11:16],timestamp_[0][17:19],timestamp_[0][21:29]

('04:21', '22', '86910500')

In [229]:
v = pd.DataFrame([['TimeStamp',timestamp_[0][11:16],'second : '+timestamp_[0][17:19],timestamp_[0][21:29]]])
v

           0      1            2         3
0  TimeStamp  04:21  second : 22  86910500

In [248]:
a = 45000
v = pd.DataFrame([['TimeStamp',timestamp_[a][11:16],'second : '+timestamp_[a][17:19],timestamp_[a][21:29]]])
c = pd.DataFrame(pd.concat([pd.DataFrame(order_book_bid[a][0:5].values),pd.DataFrame(order_book_ask[a][0:5].values)],axis = 1).values)
b = pd.concat([v,c],axis = 0)
#b = pd.concat([v,pd.concat([pd.DataFrame(order_book_bid[a][0:5].values),pd.DataFrame(order_book_ask[a][0:5].values)],axis = 1)],axis=0)   
#pd.DataFrame(b.values)

In [249]:
b

           0      1            2         3
0  TimeStamp  10:53  second : 24  13455200
0     680000     78       680500       585
1     679500    384       681000       539
2     679000    345       681500       446
3     678500    394       682000       377
4     678000    486       682500       435

In [187]:
v

           0                  1
0  TimeStamp  04:21:22.78691050

In [232]:
b.to_csv('test',sep = '\t',encoding = 'utf-8')

In [136]:
e = data.TimeStamp.unique()[1]
data[(data.BidOrAsk == 'B') & (data.TimeStamp == e)]

,Series,SequenceNumber,TimeStamp,OrderNumber,OrderBookPosition,Price,QuantityDifference,Trade,BidOrAsk,BestPrice,BestQuantity
13,CNF14,14,2014-01-22D04:21:22.789910500,AF3C2B844DF22D92,6,662500,1,,B,666500,20
14,CNF14,15,2014-01-22D04:21:22.789910500,E11624B9A6DB85BB,4,665500,20,,B,666500,20
15,CNF14,16,2014-01-22D04:21:22.789910500,4F4B0CB99DFF81BF,7,664000,20,,B,666500,20

In [87]:
order_book_ask[1].index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype='int64')

In [23]:
x = data.TimeStamp.unique()
data[data['TimeStamp'].str.contains(x[0])]

,Series,SequenceNumber,TimeStamp,OrderNumber,OrderBookPosition,Price,QuantityDifference,Trade,BidOrAsk,BestPrice,BestQuantity
0,CNF14,1,2014-01-22D04:21:22.786910500,E3D584F55D4240C2,1,672000,20,,A,672000,20
1,CNF14,2,2014-01-22D04:21:22.786910500,B86D00C4CBBFB0BF,1,640000,100,,B,666500,20
2,CNF14,3,2014-01-22D04:21:22.786910500,E1C9F25394A679A6,2,719500,1,,A,672000,20
3,CNF14,4,2014-01-22D04:21:22.786910500,470284B16BBE4ABE,1,666500,10,,B,666500,20
4,CNF14,5,2014-01-22D04:21:22.786910500,C7118CE560A044E0,2,666500,10,,B,666500,20
5,CNF14,6,2014-01-22D04:21:22.786910500,6827C7006AEC4FEC,2,672500,10,,A,672000,20
6,CNF14,7,2014-01-22D04:21:22.786910500,AF342B8CD518B4B8,3,682500,1,,A,672000,20
7,CNF14,8,2014-01-22D04:21:22.786910500,C15D08A5B29C96DC,3,666000,20,,B,666500,20
8,CNF14,9,2014-01-22D04:21:22.786910500,48A74F481D750275,3,681000,10,,A,672000,20
9,CNF14,10,2014-01-22D04:21:22.786910500,E19E84B960F74517,4,664500,20,,B,666500,20
10,CNF14,11,2014-01-22D04:21:22.786910500,166000C4C677AB77,5,693000,1,,A,672000,20
11,CNF14,12,2014-01-22D04:21:22.786910500,6D8780B9C86AAC2A,4,665000,20,,B,666500,20